<html>
<head>
  <title>Please Sign Up</title>
</head>
<body>
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="/signup" method="post">
    <legend>Please sign Up:</legend>
    <p>用户名:  <input name="username" placeholder="Username" value="{{ username }}"></p>
    <p>输入密码:<input name="password" placeholder="Password" type="password"></p>
    <p>确认密码:<input name="password1" placeholder="Password1" type="password"></p>
    <p><button type="submit">Sign Up</button></p>
  </form>
</body>
</html>